@model VVAResto.Models.Profil

@{
    ViewBag.Title = "Recherche des profils";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#NomProfil").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Gestion/AutoCompletion",
                    type: "POST",
                    dataType: "json",
                    data: { saisie: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.NomProfil, value: item.NomProfil };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
</script>

<script type="text/javascript">
    function ErreurRecherche() {
        $("#resultats").html("Une erreur s'est produite lors de la recherche, veuillez réessayer ...");
    }
</script>

<h2>Recherche de profils</h2>

@using (Ajax.BeginForm("AfficheRechercheProfil", new AjaxOptions
{
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "resultats",
    OnFailure = "ErreurRecherche",
    LoadingElementId = "chargement"
}))
{
    @Html.AntiForgeryToken()
    <div class="form-inline">
        <div class="form-group">
            @Html.EditorFor(model => model.NomProfil, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <img id="chargement" src="~/Content/Images/ajax-loader.gif" style="display: none" alt="Chargement en cours..." />
        <button type="submit" class="btn btn-primary btn-lg">Rechercher</button>
    </div>
    <br />

    <div id="resultats">
        @{Html.RenderAction("AfficheRechercheProfil", new { Profil = Model });
        }
    </div>
}
